/*variables*/
$color-one: orange;

/*slider*/
.carousel-inner {
    .carousel-item {
    height: 100vh;
    }
}

.carousel-item img {
    height: 80%;
    object-fit: cover;
}

.products {
    .pt-0 {
        margin-top: 5;
    }
}

.carousel-caption {
    position: absolute;
    top: 33%;
    transform: translateY(-50%, -50%);
    color: orange;
}

/*global*/
*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-size: 16px;
	line-height: 1.7;
	color: white;
	font-family: 'Inconsolata', monospace;
}

.container {
	max-width: 1140px;
	padding: 0 20px;
	margin: 0 auto;
}

section {
	padding: 40px 0;
}

.container {
	margin: 0 auto;
	h2 {
	    height: 70px;
	}
	    h3 {
	        height: 100px;
	    }
}

.wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

/*button*/
.btn {
	display: inline-block;
	min-width: 160px;
	margin: 24px auto 0;
	padding: 16px;
	color: $color-fontWhite;
	border-radius: 5px;
	font-family: 'Inconsolata', monospace;
	font-size: 16px;
	text-align: center;
	cursor: pointer;
	text-decoration: none;
	border: 2px solid;
	background-position: 100% 0;
	background-size: 300%;
	transition: all 1s;
	background-image: linear-gradient(90deg, #ffffff 50%, transparent 50%);
}

.btn:hover {
	background-position: 0 100%;
	color: $color-three;
}

.btn-one {
	border-color: $color-fontWhite;
}

.btn-two {
	border-color: $color-one;
	color: $color-one;
	background-image: linear-gradient(90deg, $color-one 50%, transparent 50%);
}

.btn-two:hover {
	background-position: 0 100%;
	color: $color-fontWhite;
}

.btn-three {
	border-color: $color-two;
	color: $color-two;
	background-image: linear-gradient(90deg, $color-two 50%, transparent 50%);
}

.btn-three:hover {
	background-position: 0 100%;
	color: $color-fontWhite;
}

.btn-four {
	border-color: $color-three;
	color: $color-three;
	background-image: linear-gradient(90deg, $color-three 50%, transparent 50%);
}

.btn-four:hover {
	background-position: 0 100%;
	color: $color-fontWhite;
}

.btn-six {
	background: none;
	margin-bottom: 20px;
}

/*navigation*/
.navigation {
	background-color: $color-one;
	padding: 12px 0;

	ul {
		margin: 0;
		padding: 0;
		list-style-type: none;

		ul {
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			display: none;
			padding-top: 20px;
			background: $color-fontWhite;

			li {
				display: block;
				padding: 0px 24px;
				margin-bottom: 12px;
				margin-right: 0;
			}

			a {
				color: orange;
			}
		}
	}

	li {
		position: relative;
		display: inline-block;
		margin-right: 36px;
	}

	a {
		text-decoration: none;
		color: $color-fontWhite;
	}
	a:hover {
		color: $color-two;
	}
}

.navigation li:hover ul {
	display: block;
}

/*about*/
.info {
	position: relative;
	flex: 0 0 33.33%;
	z-index: 2;
	top: 80px;

	li {
		position: absolute;
		left: 130px;
		top: -130px;
		z-index: -1;
		font-size: 40px;
		font-weight: 700;
		margin: 0;
	}
	
	p {
	    font-size: 16px;
	    margin: 0;
	}
	
	p:first-of-type {
		font-weight: bold;
		font-size: 25px;
	}
}

/*footer*/
.page-footer {
  padding: 5px 0;
  }
  
   .page-footer ul {
    text-align: center;
    }
    
   .page-footer li {
    font-size: 0;
    display: inline-block;
    }
    
   .page-footer i {
    font-size: 36px;
    text-align: center;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 30px;
    margin: 10px 10px 10px;
    background-color: $coler-footer;
    transition: all 1s;
    }
    
   .page-footer a {
    color: $color-fontWhite;
    }
    
    .page-footer i:hover {
    transform: scale(1.2);
    }
    
/*media*/    
@media (max-width: 768px) {
	.wrapper {
		flex-direction: column;
	}
}

@media (max-width: 490px) {
    .splash {
        .splash-inner {
            .page-title {
                div {
                font-size: 24px;
                }
            }
        }
    }
}